.Header {
    padding: 8px;
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
    box-shadow: 3px 3px 8px #212121,
                -3px -3px 8px #2d2d2d;
    display:flex;
    justify-content: flex-end;
}


.Header__langSelector{
    border:0;
    background: rgba(0,0,0,.1);
    padding:6px 10px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
}










